/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/public/images/*.jpg
/public/images/*.jpeg
/public/images/*.JPG
/public/images/*.JPEG
/public/images/*.png
/public/images/*.PNG
/public/images/*.gif
*.bundle
*.so
*.o
*.a
mkmf.log
.idea/
/config/app.json
/config/object_strage.json
/tmp/*.pid
/log/*.log