!!!html5
%html
  %head
    %title Nozomi Uploader
    %link(rel='stylesheet' href='/css/bootstrap.min.css')
    %link(rel='stylesheet' href='/css/bootstrap-responsive.min.css')
    %link(rel='stylesheet' href='/css/cover.css')
  %body

    %div.container{:align => "center"}
      %h1 画像を選択してください
      %form{:action => "./upload", :method => "post", :enctype => "multipart/form-data"}
        %input{:type => "file", :name => "file"}
        %br
        %br
        %br
        %button{:type => "submit", :name => "submit", :css => "btn btn-default btn-lg"}
          %span.glyphicon.icon-upload
          送信


      %p アップロードできるファイル: 10Mまでの画像ファイル(jpg, png, gif)