!!!html5
%html
  %head
    %title Nozomi Uploader
    %link(rel='stylesheet' href='/css/bootstrap.min.css')
    %link(rel='stylesheet' href='/css/bootstrap-responsive.min.css')
    %link(rel='stylesheet' href='/css/cover.css')
    %link(rel='shortcut icon' href='/img/favicon.ico')
  %body
    %hr
    %p Nozomi Uploader
    %hr
    %div.container{:align => "center"}
      %h1 画像を選択してください
      %form{:action => "./upload", :method => "post", :enctype => "multipart/form-data"}
        %input{:type => "file", :name => "file"}
        %br
        %br
        %select{:name => "write_string"}
          %option{:value => "",} 画像注釈なし
          %option{:value => "アフィブログ転載禁止",} アフィブログ転載禁止
        %br
        %select{ :name => "del_exif"}
          %option{:value => "true",} Exif情報を消す
          %option{:value => "false",} Exif情報を消さない
        %br
        %textarea{:name => 'input_desc', :rows => 1, :placeholder => "注釈の手動入力（最大15文字）", :maxlength => 15, :style => "resize:none;"}
        %br
        %button{:type => "submit", :name => "submit", :css => "btn btn-default btn-lg"}
          %span.glyphicon.icon-upload
          送信


      %p アップロードできるファイル: 10Mまでの画像ファイル(jpg, png, gif)

      %p Nozomi Uploaderはオープンソースソフトウェアです。
      %p どなたでも自前のホスティングサーバ等に入れて改造して利用できます。
      %a{ :href => "https://github.com/Project-Nightingale/nozomi" } GitHub