!!!html5
%html
  %body
    %p 1コマ〜4コマ 全部指定したモノ
    %img{ :src => "http://i.imgur.com/ZhcIhAV.png"}
    %img{ :src => "http://i.imgur.com/j6BrdLA.png"}
    %br
    %br
    %p 1,2,3コマを指定したモノ [1,2,3,3]
    %img{ :src => "http://i.imgur.com/NfJZ7TC.png"}
    %br
    %br
    %p 1,2,コマを指定したモノ [1,2,2,2]
    %img{ :src => "http://i.imgur.com/Vp3z5Tu.png"}
    %img{ :src => "http://i.imgur.com/FKbTOLW.png"}
    %br
    %br
    %p 1,コマだけを指定したモノ [1,1,1,1]
    %img{ :src => "http://i.imgur.com/F6RG3xp.png"}
    %img{ :src => "http://i.imgur.com/e3AuVwX.png"}
    %img{ :src => "http://i.imgur.com/AJHhczI.png"}
    %img{ :src => "http://i.imgur.com/XgwPoRv.png"}
